
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
{% block title %}
	<title>AK1/2IMMO</title>
{% endblock %}
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Assets web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
{% block javascript%}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
{% endblock %}
<!--// Meta tag Keywords -->
<!-- css files -->
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="{{asset('css/font-awesome.css')}}"> <!-- Font-Awesome-Icons-CSS -->
<link href="{{asset('css/simplelightbox.min.css')}}" rel='stylesheet' type='text/css'>   
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
<!-- //online-fonts -->
{% endblock %}
{% endblock %}
</head>
<body> 
	{% block main%}

{% endblock %}
{% block body %}

<!-- //banner --> 
<!-- header -->
<div class="header-w3layouts"> 
	{% block header %}
	<!-- Navigation -->
	<nav class="navbar navbar-default">
		<!-- <div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">AK1/2IMMO </span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h1><a class="logo" href="index.html"><span>A</span>K1/2-IMMO</a></h1>
		</div>  -->
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<!-- <li class="active"><a href="{{path('fk_immo')}}">Home</a></li> -->
				<!-- <li><a class="scroll scroll" href="#about">About</a></li>
				<li><a class="scroll scroll" href="#services">Services</a></li>
				<li><a class="scroll scroll" href="#team">Team</a></li>
				<li><a class="scroll scroll" href="#gallery">Gallery</a></li>
				<li><a class="scroll scroll" href="#contact">Contact Us</a></li> -->
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>  
<!-- 	<div class="w3ls_search">
		<div class="cd-main-header">
			<ul class="cd-header-buttons">
				<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
			</ul> <!-- cd-header-buttons -->
	<!-- 	</div>
		<div id="cd-search" class="cd-search">
			<form action="#" method="post">
				<input name="Search" type="search" placeholder="Click enter after typing..." required="">
			</form>
		</div>
	</div>  -->
	{% endblock %}
</div>	

<!-- //header -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
	<!-- 	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="images/3.jpg" alt=" " class="img-responsive">
					<h5>Donec lobortis pharetra dolor</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
			</div>
		</div> -->
		<!-- //Modal content -->
<!-- 	</div>
</div> -->
<!-- //Modal -->
<!-- about -->


<!-- //about -->
<!-- services -->
<!-- <div id="services" class="services">
	<div class="container">  
		<h3 class="w3l-title w3l">Our Services</h3>
		<span class="w3-sub">Excellent Services</span>
		<div class="services-w3ls-row">
			<div class="col-md-4 col-sm-4 col-xs-4 services-grid agileits-w3layouts">
				<span class="glyphicon glyphicon-home effect-1" aria-hidden="true"></span>
				<h5>Renting Services</h5>
				<p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 services-grid agileits-w3layouts">
				<span class="glyphicon glyphicon-cog effect-1" aria-hidden="true"></span>
				<h5>Property Listing</h5>
				<p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 services-grid agileits-w3layouts">
				<span class="glyphicon glyphicon-map-marker effect-1" aria-hidden="true"></span>
				<h5>Various Locations</h5>
				<p>Itaque earum rerum hic a sapiente delectus in auctor sapien. Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
			</div> 
			<div class="clearfix"> </div>
		</div>  
	</div>
</div>
<!-- //services -->
<!-- team -->
<!-- <div class="team" id="team">
	<div class="team-dot">
		<div class="container">
			<div class="w3-agile-heading team-heading">
				<h3 class="w3l-title">Meet the Team</h3>
				<span class="w3-sub">An Award Winning Bunch</span>
			</div>
			<div class="agileits-team-grids">
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-team-grid">
					<div class="team-info">
						<img src="images/t1.jpg" alt="">
						<div class="team-caption"> 
							<h4>Mark Duncan</h4>
							<p>Founder</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-team-grid">
					<div class="team-info">
						<img src="images/t2.jpg" alt="">
						<div class="team-caption"> 
							<h4>Cynthia Baker</h4>
							<p>Broker</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-team-grid">
					<div class="team-info">
						<img src="images/t3.jpg" alt="">
						<div class="team-caption"> 
							<h4>Peter Wright</h4>
							<p>CEO</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-team-grid">
					<div class="team-info">
						<img src="images/t4.jpg" alt="">
						<div class="team-caption"> 
							<h4>Steven Wilson</h4>
							<p>Broker</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>  -->
<!-- //team -->
<!-- feature -->

<!-- //testimonials -->
<!-- gallery -->
<!-- <div id="gallery" class="gallery">  
	<div class="container"> 
		<h3 class="w3l-title">Our Gallery</h3>
		<span class="w3-sub">See Our Work Projects</span>
	</div>
	<div class="agileinfo-gallery-row">
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/6.jpg" class="imghvr-hinge-right figure">
				<img src="images/6.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div> 
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/5.jpg" class="imghvr-hinge-right figure">
				<img src="images/5.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/7.jpg" class="imghvr-hinge-right figure">
				<img src="images/7.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/8.jpg" class="imghvr-hinge-right figure">
				<img src="images/8.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/1.jpg" class="imghvr-hinge-right figure">
				<img src="images/1.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div> 
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/2.jpg" class="imghvr-hinge-right figure">
				<img src="images/2.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/3.jpg" class="imghvr-hinge-right figure">
				<img src="images/3.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div>
		<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
			<a href="images/4.jpg" class="imghvr-hinge-right figure">
				<img src="images/4.jpg" alt="" title="Assets  Image"/> 
				<div class="agile-figcaption">
				  <h4>Assets </h4>
				  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
				</div>
			</a> 
		</div>
		<div class="clearfix"> </div>
	</div> 
</div> -->
<!-- //gallery -->
<!-- contact -->
{% block aside %}
{% endblock %}
{% block plus %}
<div class="agileits_w3layouts_contact" id="contact">
	<div class="container"> 
		<h3 class="w3l-title">Contact Us</h3>
		<span class="w3-sub">Write a Message</span>
		<div class="w3_mail_grids">
			<form action="#" method="post">
				<span class="input">
					<input type="text" placeholder="Your Name" name="Email" required="">
				</span>
				<span class="input">
					<input type="email" placeholder="Your Email" name="Email" required="">
				</span>
				<span class="input">
					<input type="text" placeholder="Phone Number" name="Email" required="">
				</span>
				<textarea name="Message" placeholder="Message..." required=""></textarea>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- contact address-->
<div class="contact-row agileits-w3layouts">  
	<div class="col-md-7 contact-w3lsright">
		<div class="col-xs-6 address-row">
			<div class="col-xs-2 address-left">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</div>
			<div class="col-xs-10 address-right">
				<h5>Visit Us</h5>
				<p>Canada, New York </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-xs-6 address-row w3-agileits">
			<div class="col-xs-2 address-left">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			</div>
			<div class="col-xs-10 address-right">
				<h5>Mail Us</h5>
				<p><a href="mailto:info@example.com"> mail@example.com </a></p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-xs-6 address-row">
			<div class="col-xs-2 address-left">
				<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
			</div>
			<div class="col-xs-10 address-right">
				<h5>Call Us</h5>
				<p>+01 222 333 4444</p>
			</div>
			<div class="clearfix"> </div>
		</div> 
		<div class="col-xs-6 address-row">
			<div class="col-xs-2 address-left">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			</div>
			<div class="col-xs-10 address-right">
				<h5>Working Hours</h5>
				<p>Mon - Fri : 8:00 am to 10:30 pm</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>	
	</div>
	<div class="col-md-5 contact-w3lsleft map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.948805392833!2d-73.99619098458929!3d40.71914347933105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1479793484055"></iframe>
	</div>
	<div class="clearfix"> </div>
</div>
{% endblock %}
<!-- //contact address-->
<!-- //contact -->
<!-- footer -->
<div class="footer">
	{% block footer %}
	<div class="container">
		<div class="footer-top">
			<div class="col-md-4 amet-sed fir-w3l"> 
				<div class="footer-nav">
					<ul>
						<li><a class="menu__link scroll" href="#home">Home</a></li>
						<li><a class="menu__link scroll" href="#about">About</a></li>
						<li><a class="menu__link scroll" href="#services">Services</a></li>
						<li><a class="menu__link scroll" href="#team">Team</a></li>
						<li><a class="menu__link scroll" href="#gallery">Gallery</a></li>
						<li><a class="menu__link scroll" href="#contact">Contact Us</a></li>
					</ul>
				</div>
				<div class="w3ls-social-icons-2">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
				</div>
			</div>
			<div class="col-md-4 amet-sed amet-medium">
				<h2><a class="logo" href="index.html">AK1/2-IMMO</a></h2>
				<div class="ag-w3-3">
					<a href="#home" class="scroll"><i class="fa fa-angle-up" aria-hidden="true"></i> Back to Top</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 amet-sed thi-w3l">
				<div class="support">
					<form action="#" method="post">
						<input type="email" name="email" placeholder="Enter email...." required=""> 
						<input type="submit" name="submit" value="SUBMIT" class="botton">
					</form> 
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- copy right -->
<p class="footer-class">© 2018 AK1/2-IMMO. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">FAKY</a> </p>
{% endblock %}
<!-- //copy right -->
<!-- //footer --> 

<!-- js-scripts -->			
	<!-- js -->
	{% block javascripts %}
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{asset('js/jquery-2.1.4.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	<!-- Flexslider-js for-testimonials -->
	<script type="text/javascript">
	$(window).load(function() {
	$("#flexiselDemo1").flexisel({
		visibleItems:1,
		animationSpeed: 1000,
		autoPlay:false,
		autoPlaySpeed: 3000,    		
		pauseOnHover: true,
		enableResponsiveBreakpoints: true,
		responsiveBreakpoints: { 
			portrait: { 
				changePoint:480,
				visibleItems: 1
			}, 
			landscape: { 
				changePoint:640,
				visibleItems:1
			},
			tablet: { 
				changePoint:768,
				visibleItems: 1
			}
		}
	});

	});
	</script>
	<script type="text/javascript" src="{{asset('js/jquery.flexisel.js')}}"></script>
	<!-- //Flexslider-js for-testimonials -->
	<!-- Gallery -->
	<script type="text/javascript" src="{{asset('js/simple-lightbox.min.js')}}"></script>
		<script>
			$(function(){
				var gallery = $('.agileinfo-gallery-row a').simpleLightbox({navText:		['&lsaquo;','&rsaquo;']});
			});
		</script> 
	<!-- //Gallery -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{{asset('js/move-top.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/easing.js')}}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- smooth scrolling -->
	<script src="{{asset('js/SmoothScroll.min.js')}}"></script>
	<!-- //smooth scrolling -->
	<!-- search-jQuery -->
	<script src="{{asset('js/main.js')}}"></script>
	<!-- //search-jQuery -->
	
<!-- //js-scripts -->
{% endblock %}
{% endblock %}
</body>
</html>

    